
<!-- Navigation -->
<<<<<<< HEAD
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        {{#link-to 'index'}}<a class="navbar-brand" href="#">news buddy.</a>{{/link-to}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                     {{#link-to 'index'}}<a class="nav-link" href="">Home
                        <span class="sr-only">(current)</span>
                    </a>{{/link-to}}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Favorites</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="">Log in</a>
                </li>
            </ul>
=======

  <nav class="navbar navbar-expand-lg navbar-dark dark_bg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">news buddy.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
             <div id="user" class="userIconContainer">
               <a href="" alt="Login">
                 <span class="nav-link"><img id="userDefault" class="roundImage" src="assets/images/blank.png"/></span>
               </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Headline here</h1>
      <p class="lead">Login powered by Firebase</p>
      <a href="#" class="btn btn-primary btn-lg">Sign up!</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
>>>>>>> ns_newsbuddy_login
        </div>
    </div>
<<<<<<< HEAD
</nav>

{{outlet}}
=======
    <!-- /.row -->
    <!-- keep this outlet to allow content to be displayed -->
  {{outlet}}
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>
>>>>>>> ns_newsbuddy_login
