{{outlet}}

    <div class="row text-center my-4">
        {{#each this.model as |article|}}
        <div class="col-lg-4 col-md-8 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">{{article.title}}</h4>
                    <p class="card-text">{{article.abstract}}</p>
                </div>
                <div class="card-footer">
                    <a href="{{article.url}}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

